<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input [(ngModel)]="patient.last_name" name="last_name" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="patient.first_name" name="first_name" type="email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Fecha Nacimiento</ion-label>
      <ion-input [(ngModel)]="patient.date_birth" name="date_birth" type="date" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Estatura</ion-label>
      <ion-input [(ngModel)]="patient.stature" name="stature" type="number" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Dirección</ion-label>
      <ion-input [(ngModel)]="patient.address" name="address" type="text" required></ion-input>
    </ion-item>


    <ion-row>
      <ion-col>
        <ion-button  expand="block" (click)="goToNextPage()">Ver el Mapa</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" (click)="save()" expand="block">Guardar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button type="submit" color="danger" (click)="delete()" expand="block">Eliminar</ion-button>
      </ion-col>

    </ion-row>
  </form>
  
  <ion-row>
    <ion-col>
      <h5>Seguimiento de Paciente</h5>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button (click)="create_track()" expand="block" color="success">Hacer Seguimiento</ion-button>
    </ion-col>
  </ion-row> 
    
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col sizeLg="3" sizeMd="3" sizeXs="3">Fecha</ion-col>
      <ion-col sizeLg="2" sizeMd="2" sizeXs="2">Peso</ion-col>
      <ion-col sizeLg="3" sizeMd="3" sizeXs="3">Temp</ion-col>
      <ion-col sizeLg="2" sizeMd="2" sizeXs="2">Presión</ion-col>
      <ion-col sizeLg="2" sizeMd="2" sizeXs="2">Saturacion</ion-col>
    </ion-row>
    <ion-row *ngFor="let track of track_aux; index as i">
      <ion-col sizeLg="3" sizeMd="3" sizeXs="3">{{ track.date.toDate() | date:'yyyy/MM/dd h:mm:ss a'}}</ion-col>
      <ion-col sizeLg="2" sizeMd="2" sizeXs="2">{{ track.weigth }}</ion-col>
      <ion-col sizeLg="3" sizeMd="3" sizeXs="3">{{ track.temperature }}</ion-col>
      <ion-col sizeLg="2" sizeMd="2" sizeXs="2">{{ track.presion }}</ion-col>
      <ion-col sizeLg="2" sizeMd="2" sizeXs="2">{{ track.saturation }}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
