<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Hacer Seguimiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Peso</ion-label>
      <ion-input type="number" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">temperatura</ion-label>
      <ion-input type="number" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Presión</ion-label>
      <ion-input type="number" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Saturación</ion-label>
      <ion-input type="number" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" (click)="save()" expand="block">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
